.language-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.language-content a {
    color: #000;
    font-family: 'Titillium Web', sans-serif;
    padding-right: 2%;
    text-decoration: none;
}

.language-content h3 {
    font-family: 'Titillium Web', sans-serif;
    padding-right: 1%;
}

#adnotation-icon {
    height: 4%;
    width: 4%;
}

.comment-section {
    border: 1px solid black;
    border-radius: 5px;
    display: grid;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    grid-template-columns: 1fr;
    margin-bottom: 1%;
    padding: 1%;
    width: 70%;
}

.comment-text-box {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 15px;
    padding-left: 1%;
    padding-right: 1%;
    width: 100%;
}

.comment-section span {
    margin: 1%;
    margin-bottom: 2%;
}

.person-icon {
    height: 4%;
    vertical-align: middle;
    width: 4%;
}

#about-us-container {
    background-color: #FFF999;
    border-radius: 5px;
    font-family: 'Titillium Web', sans-serif;
    height: 60%;
    margin: auto;
    margin-top: 4.5%;
    padding: 1%;
    text-align: center;
    width: 70%;
}

#about-us-container p {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

#about-img {
    height: 3%;
    vertical-align: bottom;
    width: 3%;
}

#mission-img {
    height: 3%;
    vertical-align: baseline;
    width: 3%;
}

#phone-img,
#mail-img {
    height: 7%;
    vertical-align: middle;
    width: 7%;
}

#test-img {
    height: 50%;
    width: 50%;
}

#contact {
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    margin-bottom: 10%;
    width: 50%;
}

#no-link {
    color: #000;
    text-decoration: none;
}

.hr {
    align-content: center;
    border: 1px solid black;
    border-radius: 50%;
    width: 100%;
}

.news {
    height: 100%;
    margin: 0 auto;
    margin-top: 2%;
    width: 50%;
}

.button {
    background-color: ghostwhite;
    border: 2px solid black;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    text-decoration: none;
}

.button:hover {
    border-radius: 15%;
    transition: 0.3s;
}

.hr1 {
    border: 1px solid black;
    border-radius: 50%;
    width: 50%;
}

.title {
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
}

.poem-title {
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
    text-align: center;
}

.poem {
    border: 1px solid black;
    display: grid;
    flex: 1;
    margin: 2%;
    position: relative;
}

.poem-container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 50%;
}

#accordion>div>input {
    display: none;
}

#accordion>div>label {
    border-radius: .25em;
    cursor: pointer;
    display: block;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
}

#accordion>div>label:hover {
    background: #ccc;
}

#accordion>div>input:checked+label {
    background: #ccc;
    color: #fff;
}

#accordion .verse-details {
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    height: 0;
    overflow-x: hidden;
    padding-left: 3em;
}

#accordion>div>input:checked~.verse-details {
    border-bottom-left-radius: .25em;
    border-bottom-right-radius: .25em;
    height: auto;
    margin-bottom: .125em;
    padding-bottom: 2em;
}

.verse {
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    text-align: center;
}

.verse-rate form {
    display: flex;
}

.verse-details {
    max-height: 15rem;
    overflow: scroll;
}

.comm-box-accordion {
    resize: none;
    width: 97.5%;
}

.commentaries {
    border: 1px solid black;
    left: 27%;
    position: relative;
    width: 44.2%;
}

.comment,
.comment-main {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    left: 25.8%;
    margin-top: 1%;
    padding-left: 0.5%;
    position: relative;
    width: 48%;
}

.comment-title {
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    padding-left: 1%;
}

.comment-icon {
    height: 2%;
    width: 2%;
}

.comment-box {
    border-radius: 5%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    margin-bottom: 2%;
    margin-right: 1%;
    padding-right: 1%;
    resize: none;
    width: auto;
}

.comm-button {
    background-color: #000;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    margin-bottom: 0.5%;
    margin-right: 1%;
    width: auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 2%;
}

.grid>span {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding: 8px 4px;
}

.comment-form {
    display: flex;
    flex-direction: column;
}

#share-container {
    margin: auto;
    margin-bottom: 5%;
    text-align: center;
    width: 25%;
}

#share-container h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
}

#share-container a,
#no-link {
    text-decoration: none;
}

#share-container img {
    height: 10%;
    width: 10%;
}

.table {
    border: 1px solid black;
    border-radius:5px;
    width: 25%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    margin-top:7%;
}

.block-sign-up {
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Titillium Web', sans-serif;
    height: 7%;
    padding-top: 2%;
    text-align: center;
    margin-left:15%;
    width: 65%;
}

.block-sign-in {
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Titillium Web', sans-serif;
    height: 7%;
    padding-top: 2%;
    text-align: center;
    margin-left:15%;
    width: 65%;
}

.button-sign-up {
    background-color: #42a1f4;
    border-radius: 5px;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    padding: 5px 25px;
    text-align: center;
    margin-top:3%;
    margin-left:37%;
    margin-bottom: 3%;
}

.button-sign-in {
    background-color: #42a1f4;
    border-radius: 5px;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    padding: 5px 25px;
    margin-top:10%;
    margin-left:35%;
    margin-bottom: 5%;
}

.table p {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
    margin-left:15%;
}

.text {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}

.table h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.table a {
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    margin-top: 20%;
    padding-left:33%;
    text-decoration: none;
}

.table-active-users {
    border-top: 1px solid black;
    display: grid;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    left: 25%;
    position: relative;
    text-align: center;
    width: 50%;
}

.table-active-users>span,
.table-most-comment>span {
    border-bottom: 1px solid black;
    padding: 8px 4px;
}

.table-most-comment {
    border-top: 1px solid black;
    display: grid;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    left: 25%;
    margin-top: 1%;
    position: relative;
    text-align: center;
    width: 50%;
}

.h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    left: 25%;
    position: relative;
}

.h3 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    left: 25%;
    margin-top: 2%;
    position: relative;
}

.h4 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    left: 18%;
    margin-top: 2%;
    position: relative;
}

.block-reset-pass {
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Titillium Web', sans-serif;
    height: 7%;
    padding-top: 2%;
    text-align: center;
    margin-left:15%;
    width: 65%;
}

/*buton parola */
.button-reset-pass {
    background-color: #42a1f4;
    border-radius: 5px;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    padding: 5px 25px;
    margin-top:10%;
    margin-left:32%;
    margin-bottom: 5%;
}


.table-summary {
    border-right: 1px solid black;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 4%;
    padding-left: 1%;
    width: 10%;
}

.table-summary a {
    color: #000;
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: 3%;
    text-decoration: none;
}

.table-poems {
    border: 2px solid black;
    border-radius: 2%;
    display: grid;
    grid-row-gap: .75em;
    grid-template-columns: 0.5fr 2.5fr;
    left: 27%;
    margin-top: 4%;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: 13.5%;
    width: 40%;
}

.table-poems a {
    border-bottom: 1px solid black;
    color: #000;
    font-family: 'Titillium Web', sans-serif;
    padding-left: 1em;
    text-decoration: none;
}

.table-poems a:last-child {
    color: #000;
    font-family: 'Titillium Web', sans-serif;
    padding-bottom: .25em;
    padding-left: 1em;
    text-decoration: none;
}

.table-poems p {
    background-color: #000;
    border-bottom: 1px solid black;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding-left: 1em;
}

.table-poems span:last-child {
    font-family: 'Titillium Web', sans-serif;
    padding-bottom: .25em;
    padding-left: 1em;
}

.table-poems span {
    border-bottom: 1px solid black;
    font-family: 'Titillium Web', sans-serif;
    padding-left: 1em;
}

.table-poems a:hover,
.table-summary a:hover {
    color: blue;
}

#main-table {
    border: 1px solid gray;
    border-radius: 5px;
    font-family: 'Titillium Web', sans-serif;
    height: 50%;
    margin: auto;
    margin-bottom: 3%;
    margin-top: 3%;
    width: 50%;
}

#rss-table {
    border-bottom: 1px solid gray;
    display: grid;
    grid-template-columns: 1fr;
}

#antet-table {
    background-color: #FFF666;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: grid;
    grid-template-columns: 0.25fr 0.5fr 1.5fr;
    margin: 0;
    padding-left: 2%;
}

#rss-table a {
    border-bottom: 1px solid gray;
    color: black;
    text-decoration: none;
}

#rss-table a:last-child {
    border: 0;
}

#line-table {
    align-items: center;
    display: grid;
    grid-template-columns: 0.2fr 1.5fr 1fr 0.7fr;
    padding: 2%;
}

#line-table:hover {
    background-color: #e6e6e6;
}

#two-lines {
    display: grid;
    grid-template-rows: 1fr;
}

#line-table>span {
    font-size: 17px;
}

#two-lines span:first-child {
    font-size: 20px;
}

.hr2 {
    align-content: center;
    border: 1px solid black;
    border-radius: 50%;
    width: 60%;
}

.main-img {
    height: 15%;
    vertical-align: middle;
    width: 15%;
}

#banner {
    font-family: 'Monoton', cursive;
    font-size: 60px;
    margin-bottom: 0;
    margin-top: 5%;
    text-align: center;
}

#h5 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

#logo-poetry {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.poetry-img {
    height: 5%;
    margin-top: 0;
    width: 40%;
}

#background {
    background-color: #ffc;
}

.menu-bar {
    background-color: #000;
    height: 2.5em;
    padding-top: 0.3%;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.nav1 {
    background-color: #FFF666;
    display: inline-block;
    height: 2.5em;
    padding-top: 0.3%;
    text-align: center;
    width: 100%;
}

.a1 {
    color: #000;
    font-family: 'Monoton', cursive;
    font-size: 20px;
    margin-left: 7%;
    text-align: center;
    text-decoration: none;
}

.menu-bar a {
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    padding: 5px 30px;
    text-decoration: none;
}

.menu-bar a:hover {
    color: #ff0;
}

.sign-in-up-position {
    color: #000;
    float: right;
    font-family: 'Titillium Web', sans-serif;
    font-size: 13px;
    margin: 0.3%;
    padding-right: 0.5%;
    text-decoration: none;
}

body {
    background-color: ghostwhite;
    margin: 0;
}

@media screen and (max-width: 800px){

    #banner{
        font-size:40px;
    }

    #h5{
        font-size:15px;
    }

    nav.menu-bar > a {
        font-size:15px;
        padding-top:2%;
    }

    #main-table{
        width:80%;
    }
}
